@page
@model Islamic_clothing_website.Views.Home.AboutModel
@{
}

<div class="container">
    <h1 style="text-align:left;font-size:30px;">About Us</h1>
    <p>The Islamic Attires site offers a wide range of items which we understand may be difficult to find in New Zealand. We ensure quality of all items ordered and any item which may be damaged has the flexibilty for a refund or to be exchanged.</p>
    <h1 style="text-align:left;font-size:30px;">Shipping Information</h1>
    <p> If shipping domestic the shipping prices start from $3 upto $5 depending on the region and if shipping in rural areas than shipping prices start from $7 depending on the rural area. Any change of mind and wanting to return the item would be on the buyers expense please email us at mshery.pak9@gmail.com so we can get the return delivery sorted. If ordered at buisness days your orders will be ready to shipped on the same day and if ordered on sundays than your order will be shipped the next working day with the best service possible.</p>
    <h2 style="text-align:left;font-size:30px;">Contact Us</h2>
     <!-- This code adds a straight link to emails -->
    <a href ="mailto:mshery.pak9@gmail.com?subject = questions&body = Message">
        For any questions or shipping returns
    </a>

</div>