@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="text-align:left;font-size:30px;">Islamic Attires</h1>
    <div style="width:800px;height:250px;border:1px solid #000;text-align:left;"><br><p>Free shipping for orders over $100 <br />Anywhere within New Zealand<br /></p>
       
    </div>




 
</div>
