@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="text-align:left;font-size:30px;">Islamic Attires</h1>
    <div style="width:800px;height:250px;border:1px solid #000;text-align:left;"><br>Free delievery for orders over $100</br>
        <br />Anywhere within New Zealand</br>
       <br>Excludes bulk or heavy items</br>
    </div>



 
</div>
