@page
<link rel="stylesheet" href="~/css/Shopping.css" asp-append-version="true" />
<link rel="stylesheet" href="~/Islamic_clothing_website.styles.css" asp-append-version="true" />
@model Islamic_clothing_website.Views.Home.MensCapsModel
@{
}

<div class="container">
     <h1 style="text-align:left;font-size:30px;">Mens Caps</h1>
</div>

<div class="container mx-auto mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/redtpi.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Mens Red Topi</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Made In India</h6>
                    
                    <a href="#" class="btn mr-2"><i class="fas fa-link"></i> $5</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/yellowtopi.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mens Yellow Topi</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Made In Saudi</h6>
                    
                    <a href="#" class="btn  mr-2"><i class="fas fa-link"></i> $3</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/topipack.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mens Topi (3 Pack)</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Made In Bangladesh</h6>
                    <p class="card-text">Top Material mens topi 3 pack comes in different colors and designs.</p>
                    <a href="#" class="btn  mr-2"><i class="fas fa-link"></i> $10</a>
                </div>
            </div>
        </div>
