@page
<link rel="stylesheet" href="~/css/Shopping.css" asp-append-version="true" />
<link rel="stylesheet" href="~/Islamic_clothing_website.styles.css" asp-append-version="true" />
@model Islamic_clothing_website.Views.Home.OtherItemsModel
@{
}

<div class="container">
    <h1 style="text-align:left;font-size:30px;">Other Items</h1>
</div>

<div class="container mx-auto mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/blacktasbi.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Black Tasbih</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Made In India</h6>
                   
                    <a href="#" class="btn mr-2"><i class="fas fa-link"></i> $2</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/pinbox.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hijab Pin Box</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Made In India</h6>
                    <a href="#" class="btn  mr-2"><i class="fas fa-link"></i> $5</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/bukhoor.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Arabic Bukhoor</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Made In Saudi</h6>
                   
                    <a href="#" class="btn  mr-2"><i class="fas fa-link"></i> $20</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/oudbukhoor.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Oud Bukhoor Burner</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Made In Saudi</h6>
                    <a href="#" class="btn  mr-2"><i class="fas fa-link"></i> $40</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="~/images/miswak.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Miswaak Toothbrush</h5>
                <h6 class="card-subtitle mb-2 text-muted">Made In Saudi</h6>
                <a href="#" class="btn  mr-2"><i class="fas fa-link"></i> $2.30</a>
            </div>
        </div>
    </div>
       