@page
<link rel="stylesheet" href="~/css/Shopping.css" asp-append-version="true" />
<link rel="stylesheet" href="~/Islamic_clothing_website.styles.css" asp-append-version="true" />
@model Islamic_clothing_website.Views.Home.ShopMenFragrancesModel
@{
}

<div class="container">
    <h1 style="text-align:left;font-size:30px;">Mens Fragrances</h1>
</div>

<div class="container mx-auto mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/oudh.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Al - Taha Oudh</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Made In Saudi</h6>
                    <p class="card-text">Scent Notes: Oud,Woody,Amber</p>
                    <a href="#" class="btn mr-2"><i class="fas fa-link"></i> $20</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/sabaya.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Al - Taha Sabaya</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Made In Saudi</h6>
                    <p class="card-text">Scent Notes: Flower,Rose,Citrusy,Woody</p>
                    <a href="#" class="btn  mr-2"><i class="fas fa-link"></i> $25</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/dalal.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Al - Taha Dalal</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Made In Saudi</h6>
                    <p class="card-text">Scent Notes: Citrusy,Oudy,Flowery.</p>
                    <a href="#" class="btn  mr-2"><i class="fas fa-link"></i> $25</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/whiteattar.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">White Oud Attar</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Made In UAE </h6>
                    <p class="card-text">Scent Notes: White Oud,Woody,Citrusy</p>
                    <a href="#" class="btn  mr-2"><i class="fas fa-link"></i> $45</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/rasha.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Al - Taha Rasha</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Made In Saudi</h6>
                    <p class="card-text">Scent Notes: Lime,Chen Pi,Blossom,Rose</p>
                    <a href="#" class="btn  mr-2"><i class="fas fa-link"></i> $32</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/altaha.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Al - Taha Black Musk</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Made In Saudi</h6>
                    <p class="card-text">Scent Notes: Musk,Wood,Oud,Spice.</p>
                    <a href="#" class="btn  mr-2"><i class="fas fa-link"></i> $15</a>
                </div>
            </div>
        </div>




