@page
<link rel="stylesheet" href="~/css/Shopping.css" asp-append-version="true" />
<link rel="stylesheet" href="~/Islamic_clothing_website.styles.css" asp-append-version="true" />
@model Islamic_clothing_website.Views.Home.ShopWomenClothingModel
@{
}

<div class="container">
    <h1 style="text-align:left;font-size:30px;">Women Clothing</h1>
</div>

<div class="container mx-auto mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/abbaya.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Womens Black Abbaya</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Made In Iran</h6>
       
                    <a href="#" class="btn mr-2"><i class="fas fa-link"></i> $35.99</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/bluekurtaw.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Women Blue Kurta</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Hand Stitched In Pakistan</h6>
                   
                    <a href="#" class="btn  mr-2"><i class="fas fa-link"></i> $90</a>
                </div>
            </div>
        </div>
