@page
<link rel="stylesheet" href="~/css/Shopping.css" asp-append-version="true" />
<link rel="stylesheet" href="~/Islamic_clothing_website.styles.css" asp-append-version="true" />
@model Islamic_clothing_website.Views.Home.ShopWomenFragrancesModel
@{
}

<div class="container">
    <h1 style="text-align:left;font-size:30px;">Womens Fragrances</h1>
</div>

<div class="container mx-auto mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/softattar.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Al - Taha Soft</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Made In UAE</h6>
                    <p class="card-text">Scent Notes:Blossom,Rose,Carissa</p>
                    <a href="#" class="btn mr-2"><i class="fas fa-link"></i> $30</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/aneeqa.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Anneqa Attar</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Made In Saudi</h6>
                    <p class="card-text">Scent Notes:Rose,Frangipani,Lily</p>
                    <a href="#" class="btn  mr-2"><i class="fas fa-link"></i> $30</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/fulla.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Wasim Badami Fulla</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Made In Pakistan</h6>
                    <p class="card-text">Scent Notes:Oud,Citrusy,Rose</p>
                    <a href="#" class="btn  mr-2"><i class="fas fa-link"></i> $35</a>
                </div>
            </div>
        </div>
       
