@page
@model Islamic_clothing_website.Views.Home.ShopMenClothingModel
@{
}

<div class="container">
    <!-- This code aligns the and sets the font size of the heading -->
    <h1 style="text-align:left;font-size:30px;">Mens Clothing</h1>
</div>

