@page
<link rel="stylesheet" href="~/css/Shopping.css" asp-append-version="true" />
<link rel="stylesheet" href="~/Islamic_clothing_website.styles.css" asp-append-version="true" />
@model Islamic_clothing_website.Views.Home.ShopMenClothingModel
@{
}
<div class="container">
    <h1 style="text-align:left;font-size:30px;">Mens Clothing</h1>
</div>

<div class="container mx-auto mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/whitejubbah.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Mens White Jubbah</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Made In Turkey</h6>
                    <a href="#" class="btn mr-2"><i class="fas fa-link"></i> $20</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/blackjubbah.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mens Black Jubbah</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Made In Pakistan</h6>
                    <a href="#" class="btn  mr-2"><i class="fas fa-link"></i> $45</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/brownkur.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mens Brown Kurta</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Made In Pakistan</h6>
                    <a href="#" class="btn  mr-2"><i class="fas fa-link"></i> $50</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/blue.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mens Blue Kurta</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Made In India</h6>
                    <a href="#" class="btn  mr-2"><i class="fas fa-link"></i>$70</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/red.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mens Red Kurta</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Made In India</h6>
                    <a href="#" class="btn  mr-2"><i class="fas fa-link"></i>$70</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/grey.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mens Grey Kurta</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Hand Made in Bangladesh</h6>
                    <a href="#" class="btn  mr-2"><i class="fas fa-link"></i>$120</a>
                </div>
            </div>
        </div>

