html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/* This code changes the width and height of carousel */
.carousel-inner {
    width:700px;
    height:630px;
    object-fit:cover;
}
